<h1>Acceptable use Policy</h1>
<p>As a user of this website, I hereby agree to:</p>
<ul>
  <li>I will not participate in or encourage any illegal activity on this platform, and know
      it is my duty as a user to inform the site administrator if I see any illegal activity take
     place on this website.</li>
  <li>
    I will not belittle others or otherwise do any cause of action that could harm others.
  </li>
  <li>
    I will not share any of my personal information, such as passwords, with others.
  </li>
  <li>
    I will not use this website as a vessel to commit malicious attacks through viruses,
    such as a trojan or worm attack.
  </li>
  <li>
    I will not interfere with or otherwise compromise the systems used and put in place
    by this service.
  </li>
  <li>
    I shall abide all copyright laws put in place in my territory and understand the action taken
    by the website should any of these laws be breached.</li>

</ul>
<button (click)="redirectLogin()">Back to login</button>
