<h1>Privacy policy</h1>
<h3>What data we collect</h3>
<p>There is certain information that this website needs in order to store users and ensure
   a stateful user experince. This information is not used maliciously, and sits on a secure
   web based database for your retrieval.
<ul>
  <li>The password you set</li>
  <li>Provided info, such as your name and age.</li>
  <li>Your email.</li>
</ul>

<h3>How do we use your data?</h3>
<p>
  Your data is never distributed or seen by any third party. Data is here simply for your own reference. Your data can be viewed
   by an admin should the need ever arise if a website policy is broken. Your data can be changed at any time, and if you wish
   to remove your account from the website, please notify the website administrator.
</p>

<h3>How do we secure your data?</h3>
<p>
  Your sensitive data is secure on this website. It is safely stored in a cluster hosted on MongoDB, and locked. Should someone with
   malicious intent breach the database, your account will still be secured. This website employes advanced encryption of data, by
   using bcrypt to hash your password. The website also generates a random salt, so your password is as safe as possible. Should there
   be a databreach of password, contact the admin immidiately.
</p>

<button (click)="redirectLogin()">Back to login</button>
